*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  margin: 10px;
  display: flex;
  width: 300px;
  height: 400px;
  background-color: aquamarine;
  gap: 20px;
}


.div{
  width: 200px;
  height: 50px;
  background-color: red;
  margin: 10px;
  float: left;
}

.overfolw{
  /*display: flex;*/
  /*flex: 1;*/
  gap: 10px;
  overflow-x: auto;
}
.overfolw::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}